<div class="hero-power-target">

        <div class="hp-cropper">

            <img class="hp-portrait" src="{{ asset('images/cardArt/' ~ game.owner.heroPower ~ '.png') }}" alt="">

        </div>
        
        <img class="hp-frame" src="{{ asset('images/frames/hero_power.png') }}" alt="Symfony!"/>
        
        <div class="text hp-cost">  
            {# {{game.owner.heroPower.cost}} #}
        </div>
        
</div>