
<form action="{{ path('find_game') }}" method="POST">
    <div class='inline '>            
        <input id='id' name="id" class="form-control form-control-sm short-input" type="text" placeholder="Game Id" required>
    </div>
    <div class='inline'>
        <button type="submit" class="btn btn-outline-light btn-sm short-input" >Find Game</button>
    </div>
</form>